<div id="DashboardComponent">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="../../favicon.ico">
        </a>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">
        This is the dashboard page!
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <button class="btn btn-danger btn-block" routerLink="/register">Logout</button>
    </div>
  </div>
</div>

